<!DOCTYPE HTML>

<html>
	<head>
		<title>Andrea's Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="/" class="title">Home</a>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Something went wrong</h1>
							<p>Please try again!</p>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy;2023 Andrea Abreu. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>